/* 未分配 */
.created{background:#fe6f61;}
.assigned{
    background:#009498
}
.refused{
    background:#d48806
}
.accepted{
    background:#195090
}
.delayed{
    background:#ffda29
}
.finished{
    background:#fe6f61
}
.rejected{
    background:#fe6f61
}
.receipted{
    background:#538234
}
.aborted{
    background:#009498
}
.canceled{
    background:#f5222d
}