.user-info-container{
		height:97px;
		box-sizing: border-box;
		padding-top:20px;
		padding-left:22px;
		padding-bottom:19px;
		background:#fff;
	}
.user-img{
			height: 58px;
			width: 58px;
			border-radius: 50%;
			vertical-align: middle;
		}
		.user-info{
			margin-left: 12px;
		}
	.repair-detail{
		padding:22upx 26px 22upx 20px;
		background: #fff;
		margin-bottom:13px;
		
	}
.repair-detail-title{
			font-size:16px;
			padding-bottom:11px;
			color:rgba(42,42,42,1);
			margin-left:12px;
			border-bottom:1px solid rgba(238, 238, 237, 1);
		}
		.repair-detail-list{
			padding-top:15px;
		}
	.workflow-list{
		padding:25px 14px 25px;
	}
	.uni-collapse-cell{
		border:none;
	}
	.uni-collapse-cell__title{
		padding:0 24upx !important;
	}
	.uni-collapse-cell__title-text{
		color:#898888 !important;
	}