

	.font-family-num{
		font-family:DINAlternate-Bold;
	}
	.font-size-mini{
		font-size:12px;
	}
	.font-size-litter{
		font-size:13px;
	}
	.font-size-small{
		font-size:14px;
	}
	.font-size-normal{
		font-size:15px;
	}
	.font-size-big{
		font-size:16px;
	}
	.font-size-bigger{
		font-size:18px;
	}
	.font-size-middle{
		font-size:20px;
	}
	.font-size-back{
		font-size:22px;
	}
	.font-size-supper{
		font-size:30px;
	}
	.font-size-moreSupper{
		font-size:45px;
	}
	.font-weight-bold{
		font-weight: 600;
	}
	.font-weight-normal{
		font-weight: 400;
	}
	.font-weight-middle{
		font-weight: 500;
	}
	.font-weight-super{
		font-weight: 800;
	}

	.position_absolute{
		position:absolute
	}
	.position_relative{
		position:relative
	}
	.color-normal{
		color:rgba(42,42,42,1);
	}
	.borderTop{
		border-top:1px solid #EEEEED
	}
	.borderRight{
		border-right:1px solid #EEEEED;
	}
	.borderBottomRed{
		border-bottom:2px solid rgba(242,86,67,1);
	}
	.borderBottom{
		border-bottom:1px solid rgba(238, 238, 237, 1);
	}
	.border-normal{
		border:1px solid #42B0ED;
	}
	.color-blue{
		color:#42B0ED
	}
	.color-red{
		color:#F25643 !important;
	}
	.color-orange{
		color:#FE992B
	}
	.color-purple{
		color:rgba(182,89,255,1)
	}
	.color-placeholder{
		color:rgba(185,185,185,1);
	}
	.margin-bottom-normal{
		margin-bottom:13px;
	}
	.explain-color{
		color:#2A2A2A
	}
	.color-regular{
		color:rgba(137,136,136,1);
	}
	.text-ellipse{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.number-color{
		color:rgba(255,72,103,1);
	}
	.bg-color-red{
		background-color:rgba(255,72,103,1) !important;
	}
	.bg-color-yellow{
		background:rgba(250,211,55,1) !important;
	}
	.bg-color-orange{
		background:orange !important;
	}
	.bg-color-purple{
		background:rgba(182,89,255,1) !important;
	}
	.color-purple{
		color:rgba(182,89,255,1) ;
	}
	.bg-color-blue{
		background:#42B0ED !important
	}
	.bg-color-perform{
		background:rgba(56,61,91,1) !important;
	}
	.flex-1{
		flex:1
	}
	.bg-color-normal{
		background:rgba(247,247,247,1) !important
	}
	.flex-xs{
		width:20%;
	}
	.flex-sm{
		width:40%
	}
	.flex-litter{
		width:30%
	}
	.flex-middle{
		width:50%
	}
	.flex-all{
		width:100%;
	}
	.border-red{
		border:1px solid rgba(255,72,103,1)
	}
