.fontFamily{
	font-family:'PingFangSC-Medium';
}
.font12{
	font-size:12px;
}
.font14{
	font-size:14px;
}
.font13{
	font-size: 13px;
}
.color42{
	color:rgba(42,42,42,1);
}
.color164{
	color:rgba(164,164,164,1);
}
.fontWeight400{
	font-weight: 400;
}
.fontWeight500{
	font-weight: 500;
}