	.head-container{
		padding-top:100upx;
		padding-bottom:20upx;
		position:fixed;left:32upx;z-index:100;background:#fff;width:100%;
	}
	.companyImg{
		width:70upx;height:70upx!important;margin-right:16upx;flex-shrink: 0;
		border-radius: 50%;
		vertical-align: middle;
	}
	/* .operateImg{
		width:40px;height:36px;top:22px;
	} */
/* 	.notice-tag{
		position: absolute;
		top: 1px;
		font-size: 10px;
		right: -5px;
		color: #fff;
		background: #f43f3b;
		border-radius: 10px;
		padding: 0px 8px;
	} */

.screen-swiper{
	min-height:240upx;
	margin-top:20upx;
}
.uni-swiper .uni-swiper-wrapper{
	min-height:240upx;
}
.uni-swiper .uni-swiper-dots-horizontal{
	bottom:76upx;
}
.index-container{
	padding:180upx 24upx 30upx 36upx;
	background:#fff;

}
.notice_container{
	margin-top:26upx;
	background:#fff;

	padding-right:28upx;
	padding-left:36upx;

}

	/* .cu-bar .action:first-child{
		margin-left:0;
	} */

.operateItem{
	padding-top:16px;
	padding-left:10px;
	padding-right:9px;
	display: flex;
	justify-content: space-between;
}

.tower-swiper .tower-item {
		transform: scale(calc(0.5 + var(--index) / 10));
		margin-left: calc(var(--left) * 100upx - 150upx);
		z-index: var(--index);
}

/* .cu-bar .content{
	font-size:12px;
	font-weight: 400;
	color:rgba(42,42,42,1);
	width:calc(100%-84px)
} */

.card-swiper .uni-swiper-item{
	padding:0;
}

/* .operate-title{
	

} */
.card-title{
	font-size:18px;
	font-weight:800;
	color:rgba(42,42,42,1);
}

/* .cu-card.article>.cu-item .content{
	padding:0;
}
.cu-card.article>.cu-item .title{
	padding:0;
}

.cu-dialog{
	background:#fff;
	max-width:263px;

} */
/* .cu-bar{
	min-height:42px;
}
.cu-bar .action:last-child{
	margin-right:0;
}
.padding-xl{
	font-size:15px;
	font-family:PingFangSC-Regular;
	font-weight:400;
	color:rgba(42,42,42,1);
	padding:28px 16px 0px 13px;
	margin-bottom:17px;
} */


.company{
	font-size:18px;
	font-family:PingFangSC-Semibold;
	font-weight:600;
	color:rgba(64,64,64,1);
}
/* .desc >>>span{
	padding:3px;
	font-size:12px !important;
} */
	/* .coverImg{
		width:100%;height:143px;background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius:6px;
	} */
	/* .company-info-item{
		margin-bottom:6px;
	}
	.company-info-desc{
		color:#898888;width:30%;text-align:right
	}
	.company-info-content{
		margin-left:5px;color:#2A2A2A;flex:1;text-align:left;
	}
 */
	.repairImg{
		width: 60px;
		height: 60px;
	}
	.operateIcon{
		width: 58px;
		height: 58px;
	}